.type-scale {
  padding: 2rem;
  max-width: 800px;
}

.type-scale__h1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
  margin: 0 0 1rem 0;
}

.type-scale__h2 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
  margin: 0 0 1rem 0;
}

.type-scale__h3 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.3;
  margin: 0 0 1rem 0;
}

.type-scale__h4 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.3;
  margin: 0 0 1rem 0;
}

.type-scale__h5 {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.4;
  margin: 0 0 1rem 0;
}

.type-scale__h6 {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.4;
  margin: 0 0 1rem 0;
}

.type-scale__body {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  margin: 0 0 1rem 0;
}

.type-scale__small {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.6;
  margin: 0;
  color: #666;
}
